* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: DRFunkNotDead-Regular;
  src: url(DR_Funk/DRFunkNotDead-Regular.ttf);
}
body {
  font-family: DRFunkNotDead-Regular;
}
.container {
  background-color: #ffcc33;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr;

  grid-template-rows: 5rem;

  padding-left: 1rem;
}

img {
  height: 5rem;
  display: block;
  margin: 0 auto;
}

.textWrapper {
  display: flex;
  height: 5rem;
  color: #ff5f00;
}
.headerText {
  font-size: 3rem;
  padding-top: 0.2rem;
  align-self: center;
}

@media (max-width: 1180px) {
  .headerText {
    font-size: 2rem;
    padding: 1.5rem;
  }
}
@media (max-width: 642px) {
  .headerText {
    font-size: 1.3rem;
    padding: 0.5rem;
     line-height: 0.95;
    margin: 0.3rem;
  }
}

@media (max-width: 285px) {
  .container {
    grid-template-rows: 4rem;
  }
  img {
    height: 4rem;
  }
  .headerText {
    font-size: 1rem;
    padding: 0.3rem;
    line-height: 0.95;
    margin: 0.1rem;
  }
}
